
@{
    ViewBag.Title = "ActCorreo";
}
@model NTTShopAdmin.Models.ManagementUser


@using (Html.BeginForm("ActCorreo", "UsuarioAdmin", FormMethod.Post))
{
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center">Actualizar correo</h2>
            <hr />
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @if (@ViewBag.Message != null)
            {
                <div style="border: 1px solid red">
                    @ViewBag.Message
                </div>
            }
            <div class="form-group">
                <label class="form-label fw-bold">Usuario:</label> <br />
                @Html.TextBoxFor(a => a.inicio, new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(a => a.inicio)
                @Html.HiddenFor(a => a.inicio)
            </div>
            @Html.HiddenFor(a => a.idUsuario)
            @Html.HiddenFor(a => a.apellido2)
            @Html.HiddenFor(a => a.apellido1)
            @Html.HiddenFor(a => a.contrasenya)
            @Html.HiddenFor(a => a.isoIdioma)
            @Html.HiddenFor(a => a.nombre)



            <div class="form-group">
                <label class="form-label fw-bold">Nuevo correo:</label><br />
                @Html.TextBoxFor(a => a.email, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.email, "", new { @class = "text-danger" })
            </div>
            @if (ViewData["errorMensaje"] != null)
            {
                <p class="alert alert-danger" style="margin-top:10px;">@ViewData["errorMensaje"]</p>
            }
            <div class="col-12 d-grid" style="margin-top:10px;">
                <input type="submit" value="Actualizar Correo" class="btn btn-outline-secondary" />
            </div>
            <div class="col-12 d-grid" style="margin-top:10px;">
                @Html.ActionLink("Volver a Editar Administrador", "Editar", "UsuarioAdmin", new { id = Model.idUsuario }, new { @class = "btn btn-outline-secondary" })
            </div>
            @if (ViewBag.Correcto is true)
            {
                <p class="alert alert-success">Correo Actualizado</p>
            }
            @if (ViewBag.Mensaje != null)
            {
                <p class="alert alert-danger">@ViewBag.Mensaje</p>
            }
        </div>


    </div>
}